<div class="ToDoCard">

    <div class="TaskName">
        {{ taskname }}
    </div>

    <img width="300" alt="Intoteam Hellas MIKE Logo"
        src="https://infoteam.de/typo3conf/ext/triebwerk_sitepackage/Resources/Public/Images/logo-infoteam.svg">

    <div class="TaskDescription">
        {{ description }}
    </div>

    <br>
    <br>
    
    <div class="signature">
        <label for="TaskStatus"> Completed: </label>
        <input type="checkbox" id="TaskStatus" name="status" value="new">
    </div>

    <div>
        <input class="deletebutton" type="button" value="Delete" onclick="location.href='http://google.com';">
    </div>

</div>

