<div class="ToDoCard">
  <img
    class="logo"
    width="300"
    alt="Intoteam Hellas MIKE Logo"
    [src]="task.iconUrl"
  />

  <div class="course-id">{{ task.id }}</div>

  <div class="course-name">{{ task.name }}</div>

  <div class="description">{{ task.description }}</div>

  <div class="due-date">{{ task.due_date }}</div>

  <div class="priority">{{ task.priority }}</div>

  <div class="signature">
    <label for="TaskStatus"> Completed: </label>
    <input type="checkbox" id="TaskStatus" name="status" value="new" />
  </div>

  <div>
    <input
      class="deletebutton"
      type="button"
      value="Delete"
      onclick="location.href='http://google.com';"
    />
  </div>
</div>
