<div class="main-menu">

  <div class="parent">
    <img class="child" width="100" alt ="infoteam Hellas Mike" 
      src ="https://infoteam.de/typo3conf/ext/triebwerk_sitepackage/Resources/Public/Images/logo-infoteam.svg">

    <div class="child">

      <H1>Welcome to ToDoIst!</H1>

      <p> A most magnificent Task keeper</p>

    </div>
  </div>

  <br>

  <div class="taskboard">
    <app-to-do-task-card class="borderedchild" taskname="CodeToDo" ></app-to-do-task-card>
    <app-to-do-task-card class="borderedchild"></app-to-do-task-card>
    <app-to-do-task-card class="borderedchild"></app-to-do-task-card>

    <input type="button" class="createtaskbutton" value="Create Task" onclick="location.href='http://google.com';">
  </div>


</div>